<%- include("header") -%>

<div class="box" id="heading">
  <h1> <%= listTitle %> </h1>
</div>

<div class="box">
  <% for (let i=0; i<newItems.length; i++) { %>
  <form class="" action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%=newItems[i]._id%>" onChange="this.form.submit()">
      <p><%=  newItems[i].name  %></p>
    </div>
    <input type="hidden" name="list" value="<%= listTitle %>"></input>
  </form>
  <% } %>

  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value="<%=listTitle%>">+</button>
  </form>
</div>

<%- include("footer") -%>
